<mat-drawer-container><mat-drawer-content></mat-drawer-content></mat-drawer-container>

<mat-drawer
    #drawer
    mode="side"
    class="mat-drawer-sidenav"
    >
	<div class="sidenav-btns-div">
        <h3 class="sidenav-break-line-btn"></h3>
        <a style="text-decoration: none;"
            routerLink="/home"
            >
            <h2 class="sidenav-btns button">Home</h2>
        </a>
        <h3 class="sidenav-break-line-btn"></h3>
        <a style="text-decoration: none;"
            routerLink="/gallery"
            >
            <h2 class="sidenav-btns">Gallery</h2>
        </a>
        <h3 class="sidenav-break-line-btn"></h3>
        <a style="text-decoration: none;"
            routerLink="/about"
            >
            <h2 class="sidenav-btns">About</h2>
        </a>
        <h3 class="sidenav-break-line-btn"></h3>
        <a style="text-decoration: none;"
            routerLink="/contact"
            >
            <h2 class="sidenav-btns">Contact</h2>
        </a>
    </div>
</mat-drawer>